language: android
android:
  components:
    - build-tools-22.0.1
    - android-23
    - extra-android-m2repository
    - extra-android-support
  script:
    - chmod +x ./gradlew
    - ./gradlew assembleRelease
